///////////////////////////////////////////// Landing Page //////////////////////////////////////////////////
body {
  background-color: #2d2d2d;
}

.hero-image  {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-image  img{
  display: block;
  max-width: 100%;
  height: auto;
}


.hero-content {
  width: 100%;
}

.content-wrapper {
  width: 85%;
  margin: auto;
  z-index: 1;
  position: relative;
  display: flex;
  height: calc(100vh - 128px);
  align-items: center;
}

.primary-header {
  display: flex;
  align-items: center;
  width: 85%;
  height: 64px;
  justify-content: flex-end;
  margin: auto;
  z-index: 2;
  position: relative;
}

.social-links {
  display: flex;
  width: 160px;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  opacity: 0;
  animation: fadeIn 2s;
  animation-fill-mode: forwards;
  @at-root {
    @keyframes fadeIn {
      100% { opacity: 1; }
    }
  }

  @for $i from 1 through 4 {
    $speed: .25;
    &:nth-child(#{$i}) {
      animation-delay: (($speed * $i) - $speed) * 1s;
    }
  }
}

svg {
  max-width: 950px;
  width: 60%;
  padding-left: 3px;
  overflow: initial;
}

.animation-design {
  stroke: #D1D3D4;
  stroke-width: 2;
  stroke-dasharray: 595;
  stroke-dashoffset: 595;
  opacity: .65;
  animation: offset 2s linear forwards;
}

#animation-develop {
  fill: #D1D3D4;
  animation: fadeInLeft 4s;
  animation-fill-mode: forwards;
  opacity: .75;
}

footer {
  margin: 0px;
  padding: 0px;
}

///////////////////////////////////////////// KEYFRAMES //////////////////////////////////////////////////
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: .75;
    transform: translateX(0);
  }
}

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}
