doctype html
html
  head
    meta(name='viewport', content='width=device-width')
         
    meta(charset='uft-8')
         
    title DPainterDesign
         
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,400', rel='stylesheet', type='text/css')
         
    link(rel='stylesheet', href='styles.css')
         
    script(type='text/javascript', src='js/scripts.js')
     
  body
    header.primary-header
      nav.social-links
        a.nav-item(href="mailto:dannyjpainter@gmail.com")
          img(src='imgs/email-icon.svg')
                     
        a.nav-item(href="https://www.linkedin.com/in/danny-painter-81659b13/")
          img(src='imgs/linkedIn-icon.svg')
                     
        a.nav-item(href="https://dribbble.com/swillcircle")
          img(src='imgs/dribble-icon.svg')
                 
    .hero-image
    section.content-wrapper
      .hero-content
        svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 546.128 204.712', enable-background='new 0 0 546.128 204.712', xml:space='preserve')
          g
            defs
              path#animation-develop(d='M491.493,160.223h19.528c3.093,0,5.676-1.263,7.751-3.788c2.075-2.526,3.112-5.948,3.112-10.268\
              c0-2.199-0.325-4.176-0.977-5.928c-0.65-1.751-1.505-3.238-2.563-4.461c-1.058-1.222-2.298-2.139-3.723-2.75\
              c-1.424-0.611-2.868-0.916-4.333-0.916h-18.796V160.223z M474.649,204.101v-86.777h36.738c3.987,0,7.669,0.835,11.046,2.505\
              c3.377,1.671,6.286,3.871,8.728,6.601s4.354,5.826,5.736,9.289c1.384,3.463,2.075,6.946,2.075,10.449\
              c0,3.667-0.651,7.232-1.953,10.695s-3.133,6.538-5.492,9.228c-2.359,2.688-5.208,4.848-8.544,6.478s-6.998,2.444-10.985,2.444\
              h-20.505v29.089H474.649z M394.213,160.712c0,3.748,0.569,7.374,1.709,10.878s2.787,6.6,4.943,9.289\
              c2.156,2.688,4.801,4.848,7.934,6.478s6.692,2.444,10.68,2.444c4.068,0,7.669-0.835,10.802-2.506\
              c3.133-1.67,5.777-3.891,7.934-6.661c2.157-2.771,3.784-5.887,4.883-9.35s1.647-6.987,1.647-10.572\
              c0-3.748-0.59-7.374-1.77-10.878s-2.848-6.6-5.005-9.289c-2.156-2.688-4.801-4.827-7.934-6.416s-6.651-2.384-10.558-2.384\
              c-4.068,0-7.689,0.835-10.863,2.506c-3.173,1.67-5.817,3.87-7.934,6.6c-2.115,2.729-3.723,5.826-4.82,9.289\
              C394.763,153.603,394.213,157.127,394.213,160.712z M419.357,204.712c-6.347,0-12.104-1.242-17.271-3.728s-9.602-5.785-13.305-9.9\
              c-3.702-4.114-6.57-8.82-8.604-14.116c-2.034-5.297-3.052-10.715-3.052-16.256c0-5.785,1.078-11.326,3.234-16.622\
              c2.156-5.297,5.127-9.981,8.91-14.056c3.784-4.074,8.279-7.313,13.487-9.717s10.863-3.605,16.966-3.605\
              c6.266,0,11.982,1.283,17.149,3.85c5.167,2.567,9.581,5.928,13.243,10.084c3.661,4.155,6.509,8.881,8.544,14.178\
              c2.034,5.296,3.051,10.674,3.051,16.133c0,5.785-1.058,11.306-3.173,16.562c-2.116,5.256-5.046,9.899-8.788,13.934\
              c-3.743,4.033-8.219,7.252-13.427,9.655S425.46,204.712,419.357,204.712z M316.585,204.101v-86.777h16.844v71.988h44.185v14.789\
              H316.585z M303.404,189.312v14.789H243.23v-86.777h59.075v14.789h-42.231v20.899h36.495v13.689h-36.495v22.61H303.404z\
              M169.63,117.323l23.435,65.633l23.191-65.633h17.698l-33.81,86.777h-14.158l-34.054-86.777H169.63z M147.538,189.312v14.789\
              H87.364v-86.777h59.075v14.789h-42.231v20.899h36.495v13.689h-36.495v22.61H147.538z M57.216,160.59\
              c0-4.155-0.569-7.985-1.708-11.489s-2.807-6.519-5.004-9.044c-2.197-2.526-4.902-4.481-8.117-5.867\
              c-3.214-1.385-6.855-2.077-10.924-2.077H16.816v57.199h14.647c4.15,0,7.832-0.733,11.046-2.199\
              c3.214-1.467,5.899-3.483,8.056-6.051c2.156-2.566,3.804-5.602,4.943-9.105S57.216,164.664,57.216,160.59z M-0.028,204.101\
              v-86.777h31.491c7.079,0,13.284,1.141,18.613,3.422c5.33,2.281,9.785,5.378,13.365,9.289c3.58,3.911,6.266,8.494,8.056,13.75\
              s2.685,10.857,2.685,16.806c0,6.6-0.997,12.568-2.99,17.905s-4.862,9.9-8.605,13.689c-3.743,3.788-8.239,6.722-13.487,8.8\
              c-5.248,2.077-11.127,3.116-17.637,3.116H-0.028z')
                       
            use(xlink:href='#animation-develop', overflow='visible', fill='transparent')
                     
          g
            defs
              path(d='M373.808,41.202v55.51h-16.836v-86.62h13.054l45.141,56.853v-56.73h16.836v86.498h-13.664L373.808,41.202z\
              M328.668,86.952c-6.914,6.913-14.966,10.37-24.156,10.37c-5.693,0-11.041-1.139-16.043-3.416s-9.354-5.409-13.054-9.395\
              c-3.701-3.985-6.629-8.682-8.784-14.091c-2.155-5.408-3.233-11.244-3.233-17.507c0-5.938,1.078-11.529,3.233-16.775\
              s5.124-9.841,8.905-13.786c3.783-3.944,8.235-7.075,13.359-9.394s10.695-3.478,16.714-3.478c8.134,0,15.108,1.708,20.923,5.124\
              c5.815,3.416,10.188,8.012,13.115,13.786l-12.565,9.272c-2.196-4.311-5.267-7.604-9.211-9.882\
              c-3.945-2.277-8.235-3.416-12.871-3.416c-3.66,0-7.015,0.772-10.065,2.317c-3.05,1.546-5.652,3.66-7.809,6.345\
              c-2.154,2.684-3.822,5.774-5.002,9.271c-1.179,3.497-1.769,7.198-1.769,11.103c0,4.066,0.651,7.868,1.952,11.406\
              s3.091,6.608,5.368,9.211c2.277,2.604,4.981,4.656,8.112,6.161c3.132,1.505,6.527,2.257,10.188,2.257\
              c8.378,0,15.941-3.944,22.692-11.834v-6.1h-17.446V52.182h31.354v44.53h-13.907V86.952z M233.63,96.712v-86.62h16.836v86.62\
              H233.63z M210.45,32.784c-0.569-0.569-1.606-1.342-3.111-2.318c-1.505-0.976-3.335-1.932-5.49-2.867\
              c-2.155-0.935-4.494-1.728-7.015-2.379c-2.521-0.65-5.083-0.976-7.686-0.976c-4.636,0-8.092,0.854-10.37,2.562\
              s-3.416,4.107-3.416,7.198c0,1.789,0.427,3.273,1.281,4.453c0.854,1.179,2.094,2.216,3.721,3.111\
              c1.626,0.895,3.68,1.708,6.161,2.439c2.48,0.732,5.348,1.505,8.601,2.318c4.229,1.139,8.072,2.358,11.529,3.66\
              c3.457,1.301,6.385,2.928,8.784,4.88c2.399,1.952,4.25,4.29,5.551,7.015s1.952,6.08,1.952,10.065\
              c0,4.636-0.875,8.601-2.623,11.895c-1.749,3.294-4.107,5.958-7.076,7.991s-6.385,3.518-10.248,4.453\
              c-3.863,0.935-7.91,1.402-12.139,1.402c-6.506,0-12.932-0.976-19.276-2.928c-6.344-1.952-12.037-4.717-17.08-8.296l7.442-14.518\
              c0.732,0.731,2.054,1.688,3.965,2.866c1.911,1.18,4.168,2.359,6.771,3.538c2.603,1.18,5.49,2.176,8.662,2.989\
              c3.172,0.813,6.425,1.22,9.76,1.22c9.272,0,13.908-2.968,13.908-8.905c0-1.871-0.529-3.457-1.586-4.759\
              c-1.058-1.301-2.562-2.439-4.514-3.416c-1.952-0.976-4.311-1.87-7.076-2.684c-2.765-0.813-5.856-1.708-9.272-2.684\
              c-4.148-1.139-7.747-2.379-10.797-3.722c-3.05-1.342-5.592-2.928-7.625-4.758s-3.558-3.944-4.575-6.344\
              c-1.017-2.399-1.525-5.267-1.525-8.602c0-4.392,0.813-8.296,2.44-11.712c1.627-3.416,3.884-6.263,6.771-8.54\
              s6.243-4.005,10.065-5.185c3.823-1.18,7.93-1.77,12.322-1.77c6.1,0,11.712,0.956,16.836,2.867s9.597,4.169,13.42,6.771\
              L210.45,32.784z M147.498,81.95v14.762H87.352v-86.62H146.4v14.762h-42.212v20.862h36.478V59.38h-36.478v22.57H147.498z\
              M57.218,53.28c0-4.148-0.569-7.971-1.708-11.469c-1.139-3.497-2.806-6.506-5.002-9.027c-2.196-2.521-4.9-4.474-8.113-5.856\
              c-3.212-1.383-6.852-2.074-10.919-2.074h-14.64V81.95h14.64c4.148,0,7.829-0.732,11.041-2.196\
              c3.213-1.464,5.897-3.477,8.052-6.039c2.155-2.562,3.802-5.592,4.941-9.089S57.218,57.347,57.218,53.28z M0,96.712v-86.62h31.476\
              c7.076,0,13.278,1.139,18.605,3.416c5.328,2.277,9.78,5.368,13.359,9.272c3.579,3.903,6.263,8.479,8.052,13.725\
              s2.684,10.838,2.684,16.775c0,6.588-0.997,12.545-2.989,17.873c-1.993,5.327-4.859,9.882-8.601,13.664\
              c-3.741,3.781-8.235,6.71-13.481,8.783c-5.246,2.074-11.122,3.111-17.629,3.111H0z')
                       
            g
              path.animation-design(fill='transparent', stroke='transparent', stroke-miterlimit='10', d='M373.808,41.202v55.51h-16.836v-86.62h13.054l45.141,56.853v-56.73\
              h16.836v86.498h-13.664L373.808,41.202z M328.668,86.952c-6.914,6.913-14.966,10.37-24.156,10.37\
              c-5.693,0-11.041-1.139-16.043-3.416s-9.354-5.409-13.054-9.395c-3.701-3.985-6.629-8.682-8.784-14.091\
              c-2.155-5.408-3.233-11.244-3.233-17.507c0-5.938,1.078-11.529,3.233-16.775s5.124-9.841,8.905-13.786\
              c3.783-3.944,8.235-7.075,13.359-9.394s10.695-3.478,16.714-3.478c8.134,0,15.107,1.708,20.923,5.124s10.188,8.012,13.115,13.786\
              l-12.565,9.272c-2.196-4.311-5.267-7.604-9.211-9.882c-3.945-2.277-8.235-3.416-12.871-3.416c-3.66,0-7.015,0.772-10.065,2.317\
              c-3.05,1.546-5.652,3.66-7.809,6.345c-2.154,2.684-3.822,5.774-5.002,9.271c-1.179,3.497-1.769,7.198-1.769,11.103\
              c0,4.066,0.651,7.868,1.952,11.406s3.091,6.608,5.368,9.211c2.277,2.604,4.981,4.656,8.112,6.161\
              c3.132,1.505,6.527,2.257,10.188,2.257c8.378,0,15.941-3.944,22.692-11.834v-6.1h-17.446V52.182h31.354v44.53h-13.907V86.952z\
              M233.63,96.712v-86.62h16.836v86.62H233.63z M210.45,32.784c-0.569-0.569-1.606-1.342-3.111-2.318\
              c-1.505-0.976-3.335-1.932-5.49-2.867c-2.155-0.935-4.494-1.729-7.015-2.379c-2.521-0.65-5.083-0.976-7.686-0.976\
              c-4.636,0-8.092,0.854-10.37,2.562s-3.416,4.107-3.416,7.198c0,1.789,0.427,3.273,1.281,4.453s2.094,2.216,3.721,3.111\
              c1.626,0.895,3.68,1.708,6.161,2.439c2.48,0.732,5.348,1.505,8.601,2.318c4.229,1.139,8.072,2.358,11.529,3.66\
              c3.457,1.301,6.385,2.928,8.784,4.88c2.399,1.952,4.25,4.29,5.551,7.015s1.952,6.08,1.952,10.065c0,4.636-0.875,8.601-2.623,11.895\
              c-1.749,3.294-4.107,5.958-7.076,7.991s-6.385,3.518-10.248,4.453s-7.91,1.402-12.139,1.402c-6.506,0-12.932-0.976-19.276-2.928\
              c-6.344-1.952-12.037-4.717-17.08-8.296l7.442-14.518c0.732,0.731,2.054,1.688,3.965,2.866c1.911,1.18,4.168,2.359,6.771,3.538\
              c2.603,1.18,5.49,2.176,8.662,2.989c3.172,0.813,6.425,1.22,9.76,1.22c9.272,0,13.908-2.969,13.908-8.905\
              c0-1.871-0.529-3.457-1.586-4.759c-1.058-1.301-2.562-2.439-4.514-3.416c-1.952-0.976-4.311-1.87-7.076-2.684\
              c-2.765-0.813-5.856-1.708-9.272-2.684c-4.148-1.139-7.747-2.379-10.797-3.722c-3.05-1.342-5.592-2.928-7.625-4.758\
              s-3.558-3.944-4.575-6.344c-1.017-2.399-1.525-5.267-1.525-8.602c0-4.392,0.813-8.296,2.44-11.712\
              c1.627-3.416,3.884-6.263,6.771-8.54s6.243-4.005,10.065-5.185c3.823-1.18,7.93-1.77,12.322-1.77c6.1,0,11.712,0.956,16.836,2.867\
              c5.124,1.912,9.597,4.169,13.42,6.771L210.45,32.784z M147.498,81.95v14.762H87.352v-86.62H146.4v14.762h-42.212v20.862h36.478\
              V59.38h-36.478v22.57H147.498z M57.218,53.28c0-4.148-0.569-7.971-1.708-11.469c-1.139-3.497-2.806-6.506-5.002-9.027\
              c-2.196-2.521-4.9-4.474-8.113-5.856c-3.212-1.383-6.852-2.074-10.919-2.074h-14.64V81.95h14.64c4.148,0,7.829-0.732,11.041-2.196\
              c3.213-1.464,5.897-3.477,8.052-6.039c2.155-2.562,3.802-5.592,4.941-9.089S57.218,57.347,57.218,53.28z M0,96.712v-86.62h31.476\
              c7.076,0,13.278,1.139,18.605,3.416c5.328,2.277,9.78,5.368,13.359,9.272c3.579,3.903,6.263,8.479,8.052,13.725\
              s2.684,10.838,2.684,16.775c0,6.588-0.997,12.545-2.989,17.873c-1.993,5.327-4.859,9.882-8.601,13.664\
              c-3.741,3.781-8.235,6.71-13.481,8.783c-5.246,2.074-11.122,3.111-17.629,3.111H0z')
                         
              path.animation-design(fill='transparent', stroke='transparent', stroke-miterlimit='10', d='M524.44,48.092h-23.312v-25.38h-11.845v25.38h-23.312V58.62h23.312\
              V84h11.845V58.62h23.312V48.092z M495.472,103.712c-27.891,0-50.5-22.609-50.5-50.5s22.609-50.5,50.5-50.5s50.5,22.609,50.5,50.5\
              S523.363,103.712,495.472,103.712z')
         
    footer
