doctype html
html
  head
    meta(name='viewport', content='width=device-width')
         
    meta(charset='uft-8')
         
    title DPainterDesign
         
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,400', rel='stylesheet', type='text/css')
         
    link(rel='stylesheet', href='styles.css')
         
    script(type='text/javascript', src='js/scripts.js')
     
  body
    .header
      p PORTFOLIO
    .portfolio-wrapper
      .gallery-image.selected
        img(src='imgs/pink-pamphlet-outside.jpg')
      .gallery-image
        img(src='imgs/pink-pamphlet-inside.jpg')
      .gallery-image
        img(src='imgs/bj-penn-rework-logo.jpg')
      .gallery-image
        img(src='imgs/staring-contest.jpg')
      .gallery-image
        img(src='imgs/vs-angel-gc-packaging.jpg')
      .gallery-image
        img(src='imgs/rau-restraunt-lp.jpg')
      .gallery-image
        img(src='imgs/cv-logo.jpg')
      .gallery-image
        img(src='imgs/cv-landing-page.jpg')
      .gallery-image
        img(src='imgs/2017-review-room.jpg')
      .gallery-image
        img(src='imgs/2017-review-room-option.jpg')
      .gallery-image
        img(src='imgs/2015-table-bunk-fixture.jpg')
      .gallery-image
        img(src='imgs/2015-long-table-bunk-fixture.jpg')
      .gallery-image
        img(src='imgs/2015-event-backdrop.jpg')
      .gallery-image
        img(src='imgs/2015-display-prototype.jpg')
      .gallery-image
        img(src='imgs/2015-bottle.jpg')
      .gallery-image
        img(src='imgs/2015-bottle-production.jpg')
      .gallery-image
        img(src='imgs/2015-box-display.jpg')
      .gallery-image
        img(src='imgs/2014-retail-layout.jpg')
      .gallery-image
        img(src='imgs/2015-book-stand.jpg')

      
